Script per provar coses

# Llibreries

In [1]:
import os
import glob
from datetime import datetime

import pandas as pd
import numpy as np
from decimal import Decimal
import collections
import time

from sklearn import datasets, linear_model
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
%matplotlib inline

import statsmodels.formula.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from brokenaxes import brokenaxes

from scipy.stats import ttest_ind, ttest_ind_from_stats
from scipy.special import stdtr

from functools import reduce

# Input files (RAW data)

In [2]:
path = r'C:/CicloHidrico/'
os.chdir(path)

estID = pd.read_csv("estaciones.csv", sep=';', engine='python', index_col=0)                   # estaciones con ID number
estRang = pd.read_excel("EstacionesTermoPluvio.xlsx", header=1, sep=';', usecols=range(1, 10)) # estaciones con rango de fecha

In [3]:
path2 = r'C:/CicloHidrico/Datos'
os.chdir(path2)

precipitacion = pd.read_csv("precipitacion.csv", sep=';', engine='python', index_col=0)   # precipitacion total diaria

In [4]:
t_max = pd.read_csv("temperatura_max.csv", sep=';', index_col=0)      # temperaturas màximas diarias
t_min = pd.read_csv("temperatura_min.csv", sep=';', index_col=0)      # temperaturas màximas diarias

# Dades d'estacions

## Campos duplicados

In [5]:
# estID[estID.duplicated('CodigoEst')==True]
# estID.duplicated('Tipo').value_counts
duplicateRowsDF = estID.Estacion[estID.duplicated(['Altitud','Xutm','Yutm'])==True]
# duplicateRowsDF = estID.Estacion[estID.duplicated(['Estacion'])==True]
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

Duplicate Rows except first occurrence based on all columns are :
260                            XABIA
263    XABIA, AJUNTAMENT, AUTOMATICA
306                       GANDIA, HE
307                           GANDIA
507            BUNYOL, C.P. SAN LUIS
513                      CARLET, SMN
552              ALDAIA, HORT NOTARI
613              CHELVA, EL CALVARIO
666                 MASSAMAGRELL, HS
683             SEGORBE, LA ARTELINA
711                  NULES, PIUS XII
723        VILA-REAL, CENTRO C. AGR.
832          CASTELLFORT, AUTOMATICA
Name: Estacion, dtype: object

## Merge dataframes

In [6]:
estIDabc=estID.sort_values('Estacion').reset_index(drop=True)                              # ordena estaciones alfabéticamente

estRang = estRang.rename(columns={'Longitud': 'Long', 'Latitud': 'Lat', 'Provincia':'Prov'}) # evita columnas con mismo nombre
estaciones = estIDabc.join(estRang)                                                            # concatena DFs

estaciones.head()

,CodigoEst,Estacion,Tipo,Longitud,Latitud,Altitud,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,ESTACIÓN,Long,Lat,Altura,Prov,Cobertura Temperatura,Cobertura Precipitación,Temp,Pluv
0,1387,A CORUNYA (ESTACION COMPLETA),INMman,#¡CAMPO!,43.37,58,59149,4791283,AC,1,A CORUNYA (ESTACION COMPLETA),-8.42,43.37,58,AC,<->,1930-10-01<->2010-10-31,NO,SI
1,8359,ABABUJ,INMman,#¡CAMPO!,40.56,1368,686597,4491216,TE,3,ABABUJ,-1.28,40.56,1368,TE,<->,<->,NO,NO
2,7250,"ABANILLA, CHS",INMman,#¡CAMPO!,38.20,222,672506,4229911,MU,2,"ABANILLA, CHS",-1.03,38.20,222,MU,1958-01-01<->2010-10-31,1958-01-01<->2010-10-31,SI,SI
3,7150,ABARAN (SIERRA DE LA PILA),INMman,#¡CAMPO!,38.25,300,646400,4235009,MU,3,ABARAN (SIERRA DE LA PILA),-1.32,38.25,300,MU,2007-10-01<->2010-10-31,1961-04-01<->2010-10-31,SI,SI
4,7151,ABARAN (SIERRA DEL ORO),INMman,#¡CAMPO!,38.18,400,638133,4227865,MU,3,ABARAN (SIERRA DEL ORO),-1.42,38.18,400,MU,2007-10-01<->2010-10-31,1957-04-01<->2010-10-31,SI,SI

In [91]:
estaciones[estaciones['Cobertura Precipitación']=="<->"]

,CodigoEst,Estacion,Tipo,Longitud,Latitud,Altitud,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,ESTACIÓN,Long,Lat,Altura,Prov,Cobertura Temperatura,Cobertura Precipitación,Temp,Pluv
1,8359,ABABUJ,INMman,#¡CAMPO!,40.56,1368,686597,4491216,TE,3,ABABUJ,-1.28,40.56,1368,TE,<->,<->,NO,NO
17,8360,AGUILAR DE ALFAMBRA,INMman,#¡CAMPO!,40.59,1302,686254,4495527,TE,3,AGUILAR DE ALFAMBRA,-0.80,40.59,1302,TE,<->,<->,NO,NO
21,8025D,"ALACANT, FITOSANITARIA",INMman,#¡CAMPO!,38.35,10,720220,4247726,A,1,"ALACANT, FITOSANITARIA",-0.48,38.35,10,A,<->,<->,NO,NO
31,8354,"ALBARRACIN, CHJ",INMman,#¡CAMPO!,40.41,1182,632108,4474264,TE,3,"ALBARRACIN, CHJ",-1.44,40.41,1182,TE,<->,<->,NO,NO
32,8354E,"ALBARRACIN, PFE",INMman,#¡CAMPO!,40.44,1350,631108,4475228,TE,3,"ALBARRACIN, PFE",-1.47,40.44,1350,TE,<->,<->,NO,NO
37,8460,ALCALA DE LA SELVA,INMman,#¡CAMPO!,40.37,1404,693458,4471641,TE,3,ALCALA DE LA SELVA,-0.72,40.37,1404,TE,<->,<->,NO,NO
55,8364A,"ALFAMBRA, CHJ",INMman,#¡CAMPO!,40.41,1047,632108,4474264,TE,3,"ALFAMBRA, CHJ",-1.44,40.41,1047,TE,<->,<->,NO,NO
56,8364,"ALFAMBRA, PFE-DGA",INMman,#¡CAMPO!,40.44,1047,629650,4477300,TE,3,"ALFAMBRA, PFE-DGA",-1.47,40.44,1047,TE,<->,<->,NO,NO
67,9557,ALIAGA,INMman,#¡CAMPO!,40.68,1120,694333,4505332,TE,3,ALIAGA,-0.70,40.68,1120,TE,<->,<->,NO,NO
101,8302D,"ALZIRA, VALLETES DEL GALLO",INMman,#¡CAMPO!,39.15,200,720367,4336593,V,1,"ALZIRA, VALLETES DEL GALLO",-0.45,39.15,200,V,<->,<->,NO,NO
115,8362,ARGENTE,INMman,#¡CAMPO!,40.69,1252,655929,4505937,TE,3,ARGENTE,-1.16,40.69,1252,TE,<->,<->,NO,NO
166,8042I,"BENISSA, PINOS",INMman,#¡CAMPO!,38.67,475,759275,4284444,A,1,"BENISSA, PINOS",-0.02,38.67,475,A,<->,<->,NO,NO
188,8213,BONICHES,INMman,#¡CAMPO!,39.99,1026,617714,4426893,CU,3,BONICHES,-1.62,39.99,1026,CU,<->,<->,NO,NO
213,8352,CALOMARDE,INMman,#¡CAMPO!,40.37,1312,620981,4470271,TE,3,CALOMARDE,-1.57,40.37,1312,TE,<->,<->,NO,NO
231,8228,CARBONERAS DE GUADAZAON,INMman,#¡CAMPO!,39.90,1061,601233,4417405,CU,3,CARBONERAS DE GUADAZAON,-1.81,39.90,1061,CU,<->,<->,NO,NO
236,8302I,"CARLET, AGROMET",INMman,#¡CAMPO!,39.22,15,709787,4344078,V,2,"CARLET, AGROMET",-0.57,39.22,15,V,<->,<->,NO,NO
257,8365,CASTELFRIO,INMman,#¡CAMPO!,40.55,1133,676470,4482287,TE,3,CASTELFRIO,-0.97,40.55,1133,TE,<->,<->,NO,NO
261,8439A,"CASTELLNOVO, MARISTAS",INMman,#¡CAMPO!,39.87,347,716391,4416468,C,2,"CASTELLNOVO, MARISTAS",-0.47,39.87,347,C,<->,<->,NO,NO
274,8368,CAUDE,INMman,#¡CAMPO!,40.41,991,653400,4475350,TE,3,CAUDE,-1.19,40.41,991,TE,<->,<->,NO,NO
282,8458A,"CEDRILLAS, AYUNT., DGA",INMman,#¡CAMPO!,40.44,1347,681965,4478450,TE,3,"CEDRILLAS, AYUNT., DGA",-0.85,40.44,1347,TE,<->,<->,NO,NO
285,9372,CELLA,INMman,#¡CAMPO!,40.46,1023,644930,4479802,TE,3,CELLA,-1.29,40.46,1023,TE,<->,<->,NO,NO
304,8367,CORBALAN,INMman,#¡CAMPO!,40.40,1261,671064,4474685,TE,3,CORBALAN,-0.98,40.40,1261,TE,<->,<->,NO,NO
313,8370E,CUBLA,INMman,#¡CAMPO!,40.22,1088,663100,4453640,TE,3,CUBLA,-1.08,40.22,1088,TE,<->,<->,NO,NO
316,9556,CUEVAS DE ALMUDEN,INMman,#¡CAMPO!,40.72,1281,683452,4509472,TE,3,CUEVAS DE ALMUDEN,-0.83,40.72,1281,TE,<->,<->,NO,NO
338,8207,EL VALLECILLO,INMman,#¡CAMPO!,40.24,1419,622000,4455000,TE,3,EL VALLECILLO,-1.57,40.24,1419,TE,<->,<->,NO,NO
380,9558,FORTANETE,INMman,#¡CAMPO!,40.51,1408,709982,4486983,TE,3,FORTANETE,-0.52,40.51,1408,TE,<->,<->,NO,NO
382,8520,FREDES,INMman,0.17,40.70,1090,767840,4510368,C,2,FREDES,0.17,40.70,1090,C,<->,<->,NO,NO
384,8350,FRIAS DE ALBARRACIN,INMman,#¡CAMPO!,40.33,1435,617707,4466396,TE,3,FRIAS DE ALBARRACIN,-1.62,40.33,1435,TE,<->,<->,NO,NO
412,8358,GUDAR,INMman,#¡CAMPO!,40.44,1587,693425,4479487,TE,3,GUDAR,-0.72,40.44,1587,TE,<->,<->,NO,NO
449,8459,LA PUEBLA DE VALVERDE,INMman,#¡CAMPO!,40.23,1129,676289,4454943,TE,3,LA PUEBLA DE VALVERDE,-0.93,40.23,1129,TE,<->,<->,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,7245B,"ORIHUELA, I. L.",INMman,#¡CAMPO!,38.09,23,681251,4218628,A,2,"ORIHUELA, I. L.",-0.93,38.09,23,A,<->,<->,NO,NO
613,8057B,"PEGO, CASAS DE SALA",INMman,#¡CAMPO!,38.83,90,750014,4301926,A,1,"PEGO, CASAS DE SALA",-0.12,38.83,90,A,<->,<->,NO,NO
618,8166,PENYASCOSA,INMman,#¡CAMPO!,38.67,1169,551205,4280794,AB,3,PENYASCOSA,-2.41,38.67,1169,AB,<->,<->,NO,NO
621,8363,PERALES,INMman,-1,40.63,1165,669153,4499686,TE,3,PERALES,-1.00,40.63,1165,TE,<->,<->,NO,NO
628,8328O,"PICASSENT, ESPIOCA",INMman,#¡CAMPO!,39.33,45,721528,4356622,V,1,"PICASSENT, ESPIOCA",-0.43,39.33,45,V,<->,<->,NO,NO
630,7033,PILAR DE LA HORADADA,INMman,#¡CAMPO!,37.87,50,693575,4194298,A,1,PILAR DE LA HORADADA,-0.79,37.87,50,A,<->,<->,NO,NO
640,8041E,POLOP,INMman,#¡CAMPO!,38.62,236,749877,4278588,A,1,POLOP,-0.13,38.62,236,A,<->,<->,NO,NO
644,9524,PORTALRUBIO,INMman,#¡CAMPO!,40.82,1193,665400,4521200,TE,3,PORTALRUBIO,-1.04,40.82,1193,TE,<->,<->,NO,NO
663,8227,REILLO,INMman,#¡CAMPO!,39.91,1022,596476,4417960,CU,3,REILLO,-1.87,39.91,1022,CU,<->,<->,NO,NO
686,8445,"SAGUNT, CASTELL",INMman,#¡CAMPO!,39.68,139,733286,4395854,C,1,"SAGUNT, CASTELL",-0.28,39.68,139,V,<->,<->,NO,NO
693,8214,SALINAS DEL MANZANO,INMman,#¡CAMPO!,40.09,1155,623211,4439008,CU,3,SALINAS DEL MANZANO,-1.55,40.09,1155,CU,<->,<->,NO,NO
697,8356U,SAN BLAS,INMman,#¡CAMPO!,40.36,920,654574,4469197,TE,3,SAN BLAS,-1.18,40.36,920,TE,<->,<->,NO,NO
699,8236,SAN MARTIN DE BONICHES,INMman,#¡CAMPO!,39.89,1207,622156,4416169,CU,3,SAN MARTIN DE BONICHES,-1.57,39.89,1207,CU,<->,<->,NO,NO
714,9375,SANTA EULALIA DEL CAMPO,INMman,#¡CAMPO!,40.57,983,642959,4492066,TE,3,SANTA EULALIA DEL CAMPO,-1.31,40.57,983,TE,<->,<->,NO,NO
735,8330E,"SILLA, CANAL",INMman,#¡CAMPO!,39.37,10,722263,4361087,V,1,"SILLA, CANAL",-0.42,39.37,10,V,<->,<->,NO,NO
742,9376,SINGRA,INMman,#¡CAMPO!,40.65,1047,643736,4501372,TE,3,SINGRA,-1.30,40.65,1047,TE,<->,<->,NO,NO
758,8353,TERRIENTE,INMman,#¡CAMPO!,40.30,1443,627295,4462174,TE,3,TERRIENTE,-1.50,40.30,1443,TE,<->,<->,NO,NO
759,8369,"TERUEL, LA SALLE",INMman,#¡CAMPO!,40.35,934,660695,4468000,TE,3,"TERUEL, LA SALLE",-1.11,40.35,934,TE,<->,<->,NO,NO
760,8370,"TERUEL, MONTEAGUANACES",INMman,#¡CAMPO!,40.34,980,667000,4467500,TE,3,"TERUEL, MONTEAGUANACES",-1.03,40.34,980,TE,<->,<->,NO,NO
761,8357,"TERUEL, OBRAS PUBLICAS",INMman,#¡CAMPO!,40.35,900,660695,4468000,TE,3,"TERUEL, OBRAS PUBLICAS",-1.11,40.35,900,TE,<->,<->,NO,NO
777,7042,TORRELAMATA,INMman,#¡CAMPO!,38.02,10,705481,4211862,A,1,TORRELAMATA,-0.66,38.02,10,A,<->,<->,NO,NO
797,8311B,"UTIEL, AEREA",INMman,#¡CAMPO!,39.57,735,654619,4381655,V,3,"UTIEL, AEREA",-1.20,39.57,735,V,<->,<->,NO,NO
804,8371,VALACLOCHE,INMman,#¡CAMPO!,40.18,983,662591,4450867,TE,3,VALACLOCHE,-1.08,40.18,983,TE,<->,<->,NO,NO
810,8417,"VALENCIA, BASE DE HIDROS",INMman,#¡CAMPO!,39.45,10,729755,4370193,V,1,"VALENCIA, BASE DE HIDROS",-0.33,39.45,10,V,<->,<->,NO,NO
847,8361,VILLALBA ALTO,INMman,#¡CAMPO!,40.62,1093,672035,4498617,TE,3,VILLALBA ALTO,-0.97,40.62,1093,TE,<->,<->,NO,NO
862,8370I,VILLEL,INMman,#¡CAMPO!,40.23,823,654320,4455478,TE,3,VILLEL,-1.19,40.23,823,TE,<->,<->,NO,NO
877,9528,VIVEL DEL RIO MARTIN,INMman,#¡CAMPO!,40.87,970,673200,4526800,TE,3,VIVEL DEL RIO MARTIN,-0.94,40.87,970,TE,<->,<->,NO,NO
886,8049,"XABIA, GRANJA SANTA LUCIA",INMman,0.17,38.78,50,775387,4297210,A,1,"XABIA, GRANJA SANTA LUCIA",0.17,38.78,50,A,<->,<->,NO,NO
893,8077I,"XERACO, SAFLOR",INMman,#¡CAMPO!,39.05,1,740586,4326077,V,1,"XERACO, SAFLOR",-0.22,39.05,1,V,<->,<->,NO,NO
905,8208,ZAFRILLA,INMman,#¡CAMPO!,40.20,1410,617558,4452180,CU,3,ZAFRILLA,-1.62,40.20,1410,CU,<->,<->,NO,NO

In [ ]:
# # crear columnas vacias

# precipitacion["Estacion"] = ""
# precipitacion["Provincia"] = ""
# precipitacion["Xutm"] = ""
# precipitacion["Yutm"] = ""
# precipitacion["Altitud"] = ""
# precipitacion["km_costa"] = ""    # km a la costa: 1 = costa a < 20km, 2 = de 20 a 40 km, 3 = + de 40 km

In [116]:
a = precipitacion[precipitacion.index.duplicated(keep='first')==False]

In [7]:
dataPP = pd.merge(precipitacion,
                estaciones[['Estacion','CodigoEst','Tipo','Xutm','Yutm','Provincia','Umbral_20_40_km_costa']],
                on='CodigoEst')
dataPP.describe(include='all')

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa
count,9895905,9895905,9.895905e+06,9895905,9895905,9895905,9.895905e+06,9.895905e+06,9895905,9.895905e+06
unique,840,41641,NaN,3,835,4,NaN,NaN,29,NaN
top,9981A,1994-09-15,NaN,S,"TORTOSA, OBSER. DEL EBRO",INMman,NaN,NaN,V,NaN
freq,36012,507,NaN,9389160,36012,9734857,NaN,NaN,2717440,NaN
mean,NaN,NaN,-3.226154e+00,NaN,NaN,NaN,6.568422e+05,4.349168e+06,NaN,2.170715e+00
std,NaN,NaN,2.210382e+01,NaN,NaN,NaN,1.123354e+05,1.112732e+05,NaN,8.670858e-01
min,NaN,NaN,-9.990000e+01,NaN,NaN,NaN,3.344300e+04,4.075366e+06,NaN,1.000000e+00
25%,NaN,NaN,0.000000e+00,NaN,NaN,NaN,6.209690e+05,4.270236e+06,NaN,1.000000e+00
50%,NaN,NaN,0.000000e+00,NaN,NaN,NaN,6.913740e+05,4.343742e+06,NaN,2.000000e+00
75%,NaN,NaN,0.000000e+00,NaN,NaN,NaN,7.226450e+05,4.418167e+06,NaN,3.000000e+00
max,NaN,NaN,8.780000e+02,NaN,NaN,NaN,8.150770e+05,4.828087e+06,NaN,3.000000e+00

In [8]:
from functools import reduce

data = reduce(lambda x,y: pd.merge(x,y, on=['CodigoEst','Fecha'], how='outer'), [dataPP, t_max, t_min])

In [162]:
len(data[data.Provincia =='A'])

1645766

In [163]:
data.tail(500)

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
10045838,8050X,1998-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.5,S,11.3,S
10045839,8050X,1999-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.9,S,13.0,S
10045840,8050X,1998-10-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.9,S,16.4,S
10045841,8050X,1998-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.6,S,21.6,S
10045842,8050X,1998-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.4,S,2.0,S
10045843,8050X,1998-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.2,S,22.6,S
10045844,8050X,1999-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.4,S,3.4,S
10045845,8050X,1999-03-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,S,11.9,S
10045846,8050X,1997-08-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.8,S,20.4,S
10045847,8050X,1999-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.3,S,19.2,S
10045848,8050X,1998-05-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.3,S,14.1,S
10045849,8050X,1998-05-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,S,14.0,S
10045850,8050X,1998-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.1,S,15.4,S
10045851,8050X,1999-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.2,S,12.2,S
10045852,8050X,1997-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.4,S,12.9,S
10045853,8050X,1999-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.2,S,8.0,S
10045854,8050X,1998-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.5,S,3.1,S
10045855,8050X,1997-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.8,S,10.5,S
10045856,8050X,1999-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.8,S,18.3,S
10045857,8050X,1999-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.3,S,17.8,S
10045858,7261X,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.8,S,13.6,S
10045859,7261X,1993-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.9,S,21.1,S
10045860,7261X,1993-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8,S,5.1,S
10045861,7261X,1994-08-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.4,S,21.4,S
10045862,7261X,1994-07-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.2,S,19.8,S
10045863,7261X,1993-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,S,4.5,S
10045864,7261X,1995-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.3,S,15.0,S
10045865,7261X,1994-08-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.1,S,20.5,S
10045866,7261X,1993-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.8,S,10.2,S
10045867,7261X,1993-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.4,S,9.0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10046308,8409,2011-04-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,S
10046309,8409,2011-04-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,S
10046310,8503G,2012-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,S
10046311,8518,2014-04-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,S
10046312,8518,2014-04-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,S
10046313,8518,2015-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,S
10046314,8518,2014-04-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,S
10046315,8518,2014-04-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,S
10046316,8518,2014-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,S
10046317,8518,2014-04-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,S
10046318,8518,2014-04-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,S
10046319,8518,2014-04-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,S
10046320,8518,2014-04-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,S
10046321,8518,2014-04-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,S
10046322,8072,1997-08-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,S
10046323,8072,1998-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,S
10046324,8072,1997-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.5,S
10046325,8072,1997-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.5,S
10046326,8072,1998-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,S
10046327,8072,1997-08-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.5,S
10046328,8072,1998-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,S
10046329,7034,2000-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,S
10046330,8443A,2017-04-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,S
10046331,8518,2016-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,S
10046332,8531,2002-10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.7,S
10046333,8531,2002-10-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,S
10046334,8443A,2018-08-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.4,S
10046335,7255A,1989-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.2,S
10046336,7255A,1990-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,S
10046337,7255A,2018-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,S

# Cleaning

## Drop rows without valid precipitation

In [9]:
data.dropna(subset=['Precipitacion','ValidPP'],inplace=True) # eliminar files sense precipitació
# data.tail(200)

In [10]:
data.Precipitacion[(data.Precipitacion<0) & (data.ValidPP=='N')]#.describe()

7928      -99.9
7929      -99.9
7930      -99.9
7931      -99.9
7932      -99.9
7933      -99.9
7934      -99.9
7935      -99.9
7936      -99.9
7937      -99.9
7938      -99.9
7939      -99.9
7940      -99.9
7941      -99.9
7942      -99.9
7943      -99.9
7944      -99.9
7945      -99.9
7946      -99.9
7947      -99.9
7948      -99.9
7949      -99.9
7950      -99.9
7951      -99.9
7952      -99.9
7953      -99.9
7954      -99.9
7955      -99.9
7956      -99.9
7957      -99.9
           ...
9893726    -0.3
9893759    -0.3
9893809    -0.3
9893928    -0.4
9893971    -0.3
9893988    -0.3
9893998    -0.4
9894062    -0.4
9894081    -0.4
9894131    -0.4
9894139    -0.4
9894175    -0.4
9894272    -0.3
9894310    -0.4
9894326    -0.3
9894355    -0.4
9894466    -0.3
9894476    -0.3
9894560    -0.3
9894631    -0.3
9894648    -0.4
9894770    -0.3
9894775    -0.3
9894827    -0.3
9894837    -0.3
9894870    -0.3
9894910    -0.3
9894973    -0.3
9895001    -0.4
9895038    -0.3
Name: Precipitacion, Length: 489728, dtype: float64

In [196]:
%run ~/.ipython/profile_default/ipython_config.py

NameError: name 'null' is not defined

In [9]:
data.dropna(how='all') # drop rows where all fields are empty

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
0,7263,1969-11-01,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
1,7263,1969-11-02,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
2,7263,1969-11-03,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
3,7263,1969-11-04,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
4,7263,1969-11-05,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
5,7263,1969-11-06,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
6,7263,1969-11-07,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
7,7263,1969-11-08,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
8,7263,1969-11-09,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
9,7263,1969-11-10,0.1,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
10,7263,1969-11-11,0.1,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
11,7263,1969-11-12,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
12,7263,1969-11-13,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
13,7263,1969-11-14,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
14,7263,1969-11-15,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
15,7263,1969-11-16,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
16,7263,1969-11-17,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
17,7263,1969-11-18,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
18,7263,1969-11-19,0.5,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
19,7263,1969-11-20,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
20,7263,1969-11-21,1.5,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
21,7263,1969-11-22,0.1,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
22,7263,1969-11-23,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
23,7263,1969-11-24,3.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
24,7263,1969-11-25,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
25,7263,1969-11-26,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
26,7263,1969-11-27,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
27,7263,1969-11-28,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
28,7263,1969-11-29,18.4,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
29,7263,1969-11-30,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9895875,8433I,2017-05-28,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,25.0,S,10.0,S
9895876,8433I,2017-06-28,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,33.0,S,12.0,S
9895877,8433I,2017-07-28,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,31.0,S,16.0,S
9895878,8433I,2017-08-28,0.7,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,27.0,S,15.0,S
9895879,8433I,2017-09-28,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,23.0,S,11.0,S
9895880,8433I,2017-10-28,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,22.0,S,11.0,S
9895881,8433I,2017-01-29,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,16.0,S,3.0,S
9895882,8433I,2017-03-29,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,20.0,S,2.0,S
9895883,8433I,2017-04-29,1.2,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,13.0,S,5.0,S
9895884,8433I,2017-05-29,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,20.0,S,10.0,S
9895885,8433I,2017-06-29,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,33.0,S,9.0,S
9895886,8433I,2017-07-29,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,31.0,S,15.0,S
9895887,8433I,2017-08-29,27.2,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,28.0,S,15.0,S
9895888,8433I,2017-09-29,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,25.0,S,10.0,S
9895889,8433I,2017-10-29,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,22.0,S,10.0,S
9895890,8433I,2017-01-30,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,16.0,S,3.0,S
9895891,8433I,2017-03-30,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,20.0,S,3.0,S
9895892,8433I,2017-04-30,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,19.0,S,5.0,S
9895893,8433I,2017-05-30,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,21.0,S,10.0,S
9895894,8433I,2017-06-30,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,33.0,S,9.0,S
9895895,8433I,2017-07-30,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,33.0,S,15.0,S
9895896,8433I,2017-08-30,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,25.0,S,13.0,S
9895897,8433I,2017-09-30,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,20.0,S,10.0,S
9895898,8433I,2017-10-30,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,22.0,S,9.0,S
9895899,8433I,2017-01-31,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,16.0,S,4.0,S
9895900,8433I,2017-03-31,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,21.0,S,2.0,S
9895901,8433I,2017-05-31,2.3,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,24.0,S,9.0,S
9895902,8433I,2017-07-31,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,33.0,S,16.0,S
9895903,8433I,2017-08-31,28.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,24.0,S,14.0,S
9895904,8433I,2017-10-31,0.0,S,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,20.0,S,9.0,S

In [201]:
data.isnull().sum()    # no NaN data in Precipitacion, only in Temperatures

CodigoEst                      0
Fecha                          0
Precipitacion                  0
ValidPP                        0
Estacion                       0
Tipo                           0
Xutm                           0
Yutm                           0
Provincia                      0
Umbral_20_40_km_costa          0
Tmaxima                  6537966
ValidTmax                6537966
Tminima                  6538581
ValidTmin                6538581
dtype: int64

In [202]:
data.dtypes

CodigoEst                 object
Fecha                     object
Precipitacion            float64
ValidPP                   object
Estacion                  object
Tipo                      object
Xutm                     float64
Yutm                     float64
Provincia                 object
Umbral_20_40_km_costa    float64
Tmaxima                  float64
ValidTmax                 object
Tminima                  float64
ValidTmin                 object
dtype: object

In [449]:
data[(data.ValidPP == 'A') & (data.Precipitacion>0)].describe(include='all')

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
count,6613,6613,6613.000000,6613,6613,6613,6613.000000,6.613000e+03,6613,6613.000000,2843.000000,2843,2838.000000,2838
unique,454,1840,NaN,1,453,1,NaN,NaN,21,NaN,NaN,2,NaN,2
top,8029D,2003-05-08,NaN,A,"TORRE MACANES, AYUNTAMIENTO",INMman,NaN,NaN,V,NaN,NaN,S,NaN,S
freq,226,62,NaN,6613,226,6613,NaN,NaN,2678,NaN,NaN,2753,NaN,2735
mean,NaN,NaN,24.538817,NaN,NaN,NaN,693979.927718,4.334011e+06,NaN,1.925147,15.699859,NaN,9.368252,NaN
std,NaN,NaN,29.477824,NaN,NaN,NaN,63799.684492,9.432810e+04,NaN,0.871505,7.287064,NaN,5.842070,NaN
min,NaN,NaN,0.100000,NaN,NaN,NaN,166863.000000,4.075366e+06,NaN,1.000000,-5.000000,NaN,-10.000000,NaN
25%,NaN,NaN,7.400000,NaN,NaN,NaN,678011.000000,4.276487e+06,NaN,1.000000,11.000000,NaN,6.000000,NaN
50%,NaN,NaN,15.000000,NaN,NaN,NaN,706063.000000,4.322770e+06,NaN,2.000000,16.000000,NaN,10.000000,NaN
75%,NaN,NaN,30.000000,NaN,NaN,NaN,725072.000000,4.389576e+06,NaN,3.000000,20.500000,NaN,13.500000,NaN
max,NaN,NaN,400.000000,NaN,NaN,NaN,815077.000000,4.793841e+06,NaN,3.000000,38.000000,NaN,25.000000,NaN

In [11]:
# Input
ValidPP = ['N', 'A']          # casos con validez diferente a 'S'
value = [-99.9, -0.4,-0.3, 0] # valores concretos con precipitación menor que 0

print ('--- Validez de la precipitación ---')
print("\n")

for each1 in ValidPP:
    lentot = len(data[(data.ValidPP == each1)])
    lenpos = len(data[(data.ValidPP == each1) & (data.Precipitacion > 0)])
    print ('Hay '+str(lentot)+' casos con validez '+ each1+' , de los cuales '+str(lenpos) +' tienen precipitacion > 0')
    for each2 in value:
        lenneg = len(data[(data.ValidPP == each1) & (data.Precipitacion == each2)])
        print('    Cuando la validez es '+ each1 +' y la cantidad es ' + str(each2)+' mm, hay '+ str(lenneg) +' casos' )
    print("\n")

--- Validez de la precipitación ---


Hay 497101 casos con validez N , de los cuales 3256 tienen precipitacion > 0
    Cuando la validez es N y la cantidad es -99.9 mm, hay 450924 casos
    Cuando la validez es N y la cantidad es -0.4 mm, hay 4752 casos
    Cuando la validez es N y la cantidad es -0.3 mm, hay 34052 casos
    Cuando la validez es N y la cantidad es 0 mm, hay 4117 casos


Hay 9644 casos con validez A , de los cuales 6613 tienen precipitacion > 0
    Cuando la validez es A y la cantidad es -99.9 mm, hay 1624 casos
    Cuando la validez es A y la cantidad es -0.4 mm, hay 1033 casos
    Cuando la validez es A y la cantidad es -0.3 mm, hay 3 casos
    Cuando la validez es A y la cantidad es 0 mm, hay 371 casos

In [14]:
data_raw = data
data_raw.head()

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
0,7263,1969-11-01,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
1,7263,1969-11-02,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
2,7263,1969-11-03,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
3,7263,1969-11-04,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
4,7263,1969-11-05,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN

In [271]:
data_raw[(data_raw.CodigoEst=='7263') & (data_raw.ValidPP=='A')]

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
11655,7263,2001-10-10,31.8,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
11825,7263,2002-03-29,4.4,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
11838,7263,2002-04-11,24.1,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
12055,7263,2002-11-14,3.5,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
12114,7263,2003-01-12,14.8,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
13666,7263,2007-04-14,1.8,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
15262,7263,2014-11-04,9.0,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
16379,7263,2016-12-17,15.0,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
17183,7263,2013-11-27,31.8,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
17393,7263,2017-11-29,3.8,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN

In [ ]:
df_new = df.drop(df[(df['col_1'] == 1.0) & (df['col_2'] == 0.0)].index)
df = df.drop(df[df["R1"] == 1].index)
df = df.drop(df.index[np.where(df["R1"] == 1)[0]])

In [464]:
data_raw.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9895905 entries, 0 to 9895904
Data columns (total 14 columns):
CodigoEst                object
Fecha                    object
Precipitacion            float64
ValidPP                  object
Estacion                 object
Tipo                     object
Xutm                     float64
Yutm                     float64
Provincia                object
Umbral_20_40_km_costa    float64
Tmaxima                  float64
ValidTmax                object
Tminima                  float64
ValidTmin                object
dtypes: float64(6), object(8)
memory usage: 5.2 GB

In [51]:
# elimina validez N (linea 1) y elimina validez A solo en el caso que pp = -99.9 mm 

data_halfraw = data_raw.drop(data_raw[(data_raw['ValidPP'] == 'N') |    
                                (data_raw['ValidPP'] == 'A') & (data_raw.Precipitacion == (-99.9))].index)
len(data_raw)-len(data_halfraw)==498725

True

True

In [32]:
data_halfraw[(data_halfraw.ValidPP=='A') & (data_halfraw.Fecha>'2018-01-01')]

meteodata[(meteodata.Estacion=='OLIVA, AJUNTAMENT') & (meteodata.Tipo=='INMman') &
          (meteodata.Fecha>'2018-01-20') & (meteodata.Fecha<'2018-01-31')]

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
772098,8472E,2006-05-03,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
772125,8472E,2006-05-30,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
772231,8472E,2006-09-13,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
772240,8472E,2006-09-22,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
772250,8472E,2006-11-02,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
772394,8472E,2007-04-26,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
772773,8472E,2008-05-09,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
772775,8472E,2008-05-11,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
772781,8472E,2008-05-17,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
772803,8472E,2008-06-08,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
773010,8472E,2009-01-03,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
773300,8472E,2009-10-21,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
773365,8472E,2009-12-25,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
773377,8472E,2010-01-06,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
773615,8472E,2010-09-01,-99.9,A,BARRACAS,INMman,696622.0,4431608.0,TE,3.0,NaN,NaN,NaN,NaN
896876,7250,2006-05-04,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,19.0,S,12.0,S
897111,7250,2007-01-25,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,8.0,S,4.0,S
897349,7250,2007-09-20,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,25.0,S,20.0,S
897362,7250,2007-10-03,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,25.0,S,20.0,S
897579,7250,2008-05-07,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,25.0,S,20.0,S
897610,7250,2008-06-07,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,25.0,S,15.0,S
897847,7250,2009-03-02,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,16.0,S,9.0,S
898133,7250,2009-12-13,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,14.0,S,9.0,S
898157,7250,2010-01-06,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,13.0,S,8.0,S
898196,7250,2010-02-14,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,9.0,S,4.0,S
898221,7250,2010-03-11,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,15.0,S,3.0,S
898314,7250,2010-06-12,-99.9,A,"ABANILLA, CHS",INMman,672506.0,4229911.0,MU,2.0,27.0,S,17.0,S
1837147,9386A,2006-03-04,-99.9,A,"LUCO DE JILOCA, DGA",INMman,642523.0,4538584.0,TE,3.0,12.5,S,3.5,S
2386258,7275,2009-02-05,-99.9,A,"YECLA, CHS",INMman,665461.0,4274173.0,MU,3.0,12.0,S,3.0,S
2386456,7275,2009-09-21,-99.9,A,"YECLA, CHS",INMman,665461.0,4274173.0,MU,3.0,23.0,S,10.0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9870719,7045,2002-11-13,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9870720,7045,2002-11-14,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9870721,7045,2002-11-15,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9871244,7045,2004-04-21,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9871523,7045,2005-01-25,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9871560,7045,2005-03-03,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9871860,7045,2005-12-28,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9871951,7045,2006-05-29,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9871952,7045,2006-05-30,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9872843,7045,2009-01-06,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9872844,7045,2009-01-07,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9872845,7045,2009-01-08,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9872858,7045,2009-01-21,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9873186,7045,2009-12-15,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9873198,7045,2009-12-27,-99.9,A,PONTONES C H SEGURA,INMman,528951.0,4219282.0,JA,3.0,NaN,NaN,NaN,NaN
9877200,7045A,1973-02-13,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9877201,7045A,1973-02-14,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9877202,7045A,1973-02-15,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878382,7045A,1976-05-11,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878383,7045A,1976-05-12,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878384,7045A,1976-05-13,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878385,7045A,1976-05-14,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878386,7045A,1976-05-15,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878387,7045A,1976-05-16,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878388,7045A,1976-05-17,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878389,7045A,1976-05-18,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878390,7045A,1976-05-19,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878658,7045A,1977-02-11,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9878659,7045A,1977-02-12,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN
9883646,7045A,1990-12-09,-99.9,A,PONTONES P F E,INMman,528854.0,4219281.0,JA,3.0,NaN,NaN,NaN,NaN

In [459]:
data_raw.head()#[data_raw.ValidPP != 'S']

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
0,7263,1969-11-01,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
1,7263,1969-11-02,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
2,7263,1969-11-03,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
3,7263,1969-11-04,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
4,7263,1969-11-05,0.0,S,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN

In [43]:
data_halfraw[data_halfraw.ValidPP=='A']

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
11655,7263,2001-10-10,31.8,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
11825,7263,2002-03-29,4.4,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
11838,7263,2002-04-11,24.1,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
12055,7263,2002-11-14,3.5,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
12114,7263,2003-01-12,14.8,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
13666,7263,2007-04-14,1.8,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
15262,7263,2014-11-04,9.0,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
16379,7263,2016-12-17,15.0,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
17183,7263,2013-11-27,31.8,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
17393,7263,2017-11-29,3.8,A,LA MARINA,INMman,706717.0,4224695.0,A,1.0,NaN,NaN,NaN,NaN
33321,7256,2003-05-16,1.6,A,CALLOSA DEL SEGURA,INMman,685033.0,4220625.0,A,1.0,NaN,NaN,NaN,NaN
35724,7256,2009-12-14,7.0,A,CALLOSA DEL SEGURA,INMman,685033.0,4220625.0,A,1.0,NaN,NaN,NaN,NaN
37149,7256,2016-10-13,5.0,A,CALLOSA DEL SEGURA,INMman,685033.0,4220625.0,A,1.0,NaN,NaN,NaN,NaN
46726,8002,1971-03-01,4.5,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46727,8002,1971-03-02,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46728,8002,1971-03-03,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46729,8002,1971-03-04,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46730,8002,1971-03-05,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46731,8002,1971-03-06,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46732,8002,1971-03-07,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46733,8002,1971-03-08,25.3,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46734,8002,1971-03-09,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46735,8002,1971-03-10,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46736,8002,1971-03-11,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46737,8002,1971-03-12,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46738,8002,1971-03-13,7.5,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46739,8002,1971-03-14,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46740,8002,1971-03-15,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46741,8002,1971-03-16,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
46742,8002,1971-03-17,0.0,A,BANYERES,INMman,704312.0,4288399.0,A,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9891432,8433I,2003-12-06,-0.4,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9891578,8433I,2003-12-07,-0.4,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9891590,8433I,2004-12-07,23.5,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,9.0,S,1.0,S
9891599,8433I,2005-09-07,30.2,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,30.0,S,10.0,S
9891717,8433I,1987-11-08,41.8,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9891724,8433I,2003-12-08,-0.4,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9891870,8433I,2003-12-09,118.0,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9892020,8433I,2004-04-10,9.0,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,11.0,S,0.0,S
9892167,8433I,2004-05-11,44.9,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,14.0,S,7.0,S
9892180,8433I,2005-06-11,-0.4,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,26.0,S,9.0,S
9892326,8433I,2005-06-12,6.8,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,25.0,S,9.5,S
9892459,8433I,2004-05-13,34.0,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,10.0,S,8.0,S
9892768,8433I,2005-10-15,15.0,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,12.0,S,6.0,S
9893786,8433I,2005-06-22,26.8,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,31.5,S,13.0,S
9894074,8433I,2005-02-24,9.1,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,1.5,S,-2.0,S
9894144,8433I,2014-06-24,14.5,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,24.0,S,13.0,S
9894208,8433I,2004-02-25,68.0,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9894227,8433I,2005-09-25,20.1,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,23.5,S,8.5,S
9894277,8433I,2013-04-25,30.0,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,17.0,S,8.0,S
9894285,8433I,2013-12-25,8.0,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,14.0,S,2.0,S
9894321,8433I,1985-09-26,-0.4,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9894456,8433I,2016-02-26,6.4,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,10.0,S,-1.0,S
9894467,8433I,1985-09-27,-0.4,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9894501,8433I,2004-03-27,-0.4,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,6.0,S,-1.0,S
9894613,8433I,1985-09-28,-0.4,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9894647,8433I,2004-03-28,-0.4,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,5.0,S,-2.0,S
9894759,8433I,1985-09-29,52.6,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9894791,8433I,2004-03-29,166.0,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,NaN,NaN,NaN,NaN
9894792,8433I,2004-04-29,26.5,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,15.5,S,6.0,S
9895094,8433I,2014-05-31,5.0,A,CAUDIEL-MAS DE NOGUERA,INMman,704951.0,4430796.0,C,3.0,22.0,S,8.0,S

In [44]:
len(data_halfraw)

9397180

### Drop Temp if Not valid

In [90]:
data_halfraw.ValidTmax.unique()

array([nan, 'S', 'N'], dtype=object)

In [97]:
data_halfraw[data_halfraw.ValidTmin=='S'].describe()

,Precipitacion,Xutm,Yutm,Umbral_20_40_km_costa,Tmaxima,Tminima
count,3.016111e+06,3.016111e+06,3.016111e+06,3.016111e+06,3.015213e+06,3.016111e+06
mean,1.374667e+00,7.028651e+05,4.344603e+06,1.876033e+00,2.164323e+01,1.054680e+01
std,6.853257e+00,4.871199e+04,8.333487e+04,8.623239e-01,7.587612e+00,6.644911e+00
min,-4.000000e-01,5.370000e+05,4.141490e+06,1.000000e+00,-1.500000e+01,-2.700000e+01
25%,0.000000e+00,6.808070e+05,4.283759e+06,1.000000e+00,1.600000e+01,6.000000e+00
50%,0.000000e+00,7.094020e+05,4.342519e+06,2.000000e+00,2.150000e+01,1.020000e+01
75%,0.000000e+00,7.331660e+05,4.411822e+06,3.000000e+00,2.800000e+01,1.600000e+01
max,7.900000e+02,8.150770e+05,4.538584e+06,3.000000e+00,5.270000e+01,3.500000e+01

In [98]:
data_halfraw.Tmaxima.describe()

count    3.147875e+06
mean     2.102235e+01
std      8.280157e+00
min     -9.900000e+01
25%      1.550000e+01
50%      2.100000e+01
75%      2.750000e+01
max      5.270000e+01
Name: Tmaxima, dtype: float64

In [99]:
data_halfraw.Tmaxima[data_halfraw['ValidTmax'] == 'N'] = np.nan
data_halfraw.Tmaxima.describe()

C:\Users\ceam\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

count    3.003541e+06
mean     2.168008e+01
std      7.523284e+00
min     -1.500000e+01
25%      1.600000e+01
50%      2.150000e+01
75%      2.800000e+01
max      4.900000e+01
Name: Tmaxima, dtype: float64

In [100]:
data_halfraw.Tminima[data_halfraw['ValidTmin'] == 'N'] = np.nan
data_halfraw.Tminima.describe()

C:\Users\ceam\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

count    3.016111e+06
mean     1.054680e+01
std      6.644911e+00
min     -2.700000e+01
25%      6.000000e+00
50%      1.020000e+01
75%      1.600000e+01
max      3.500000e+01
Name: Tminima, dtype: float64

## Spatial cleaning

In [52]:
# Eliminar datos de estaciones que no sean C, V, A, MU, AB, CU, TE

data_halfraw = data_halfraw[data_halfraw.Provincia.isin(['CU', 'AB','MU','TE','C','V','A'])]

In [83]:
# longitud de cadascun dels items d'una Serie (columna). per saber si uniforme, usar mean()

data_halfraw.Yutm.astype('str').str.len().mean()

9.0

In [89]:
data_halfraw.Umbral_20_40_km_costa.astype('str').str.len().describe()

count    8661698.0
mean           3.0
std            0.0
min            3.0
25%            3.0
50%            3.0
75%            3.0
max            3.0
Name: Umbral_20_40_km_costa, dtype: float64

## Time series cleaning

In [ ]:
a = data_halfraw.CodigoEst.unique() 
b = data_raw.CodigoEst.unique()

main_list = np.setdiff1d(b,a)
main_list

In [47]:
data_raw.Fecha

In [24]:
# el format de les dates és uniforme 
#data_halfraw.Fecha = data_halfraw.Fecha.apply(pd.to_datetime)    NO UTILITZAT

KeyboardInterrupt:

In [78]:
data_halfraw.dtypes

CodigoEst                 object
Fecha                     object
Precipitacion            float64
ValidPP                   object
Estacion                  object
Tipo                      object
Xutm                     float64
Yutm                     float64
Provincia                 object
Umbral_20_40_km_costa    float64
Tmaxima                  float64
ValidTmax                 object
Tminima                  float64
ValidTmin                 object
dtype: object

## Sort values

In [71]:
# len(str(data_halfraw.Fecha[0]))

data_halfraw.Fecha.str.len().mean()

10.0

In [73]:
# By Prov, Name, Date
data_halfraw.sort_values(by=['Provincia','Estacion','Fecha'], inplace=True)
data_halfraw.head()

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
979498,8021A,1975-05-01,0.0,S,"AGOST, ESCOLA",INMman,705962.0,4257098.0,A,1.0,NaN,NaN,NaN,NaN
979499,8021A,1975-05-02,0.0,S,"AGOST, ESCOLA",INMman,705962.0,4257098.0,A,1.0,NaN,NaN,NaN,NaN
979500,8021A,1975-05-03,0.0,S,"AGOST, ESCOLA",INMman,705962.0,4257098.0,A,1.0,NaN,NaN,NaN,NaN
979501,8021A,1975-05-04,2.8,S,"AGOST, ESCOLA",INMman,705962.0,4257098.0,A,1.0,NaN,NaN,NaN,NaN
979502,8021A,1975-05-05,15.9,S,"AGOST, ESCOLA",INMman,705962.0,4257098.0,A,1.0,NaN,NaN,NaN,NaN

In [37]:
data_halfraw.head()

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
count,8661698,8661698,8661698.0,8661698,8661698,8661698,8661698.0,8661698.0,8661698,8661698.0,3147875.0,3147875,3147296.0,3147296
unique,803,38896,NaN,2,798,4,NaN,NaN,7,NaN,NaN,2,NaN,2
top,7102,1994-03-09 00:00:00,NaN,S,ONTUR GRUPO ESCOLAR,INMman,NaN,NaN,V,NaN,NaN,S,NaN,S
freq,30896,462,NaN,8653843,30896,8504806,NaN,NaN,2593294,NaN,NaN,3003541,NaN,3016111
first,NaN,1912-08-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Subsets

Pequeños paquetes de información para poder guardar en csv:      
data.to_csv(‘2018.csv’ encoding=’utf-8’)

## Condiciones en el rango de datos

### Filtro temporal

In [115]:
data2018 = data_halfraw.Provincia[(data_halfraw.Fecha>'2017-12-31') & (data_halfraw.Fecha<'2019-01-01')].unique()
data2018

array(['A', 'V', 'C'], dtype=object)

### Filtro espacial

In [ ]:
# Eliminar MU i CA

# Coordenades geogràfiques

In [45]:
import utm
utm.to_latlon(702979, 4217290, 30, 'True')

(38.08062739602945, -0.6857104701051528)

In [46]:
utm.to_latlon(705706, 4218407, 30, 'True')

(38.09006996813483, -0.6543205349100778)

--------------------------------------------------

# Input file (processed DB)

In [2]:
path = r'C:/CicloHidrico/Datos'
os.chdir(path)

data = pd.read_csv("meteodata.csv", index_col=0) # DB datos procesados de lluvia y temperatura

C:\Users\ceam\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (1,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\ceam\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

# Analysis

## General info

In [9]:
# Automatic stations : only 15
data.Estacion[data.Tipo=='INMaut'].unique()

array(['BENIDORM, AQUAGEST', 'COCENTAINA, BOMBERS AUTOMATICA',
       'EL PINOS, C.P. S.CATA, AUTOMAT', 'ROJALES, EL MOLINO, AUTOMATICA',
       'VILLENA 2', 'XABIA, AJUNTAMENT, AUTOMATICA',
       'CASTELLFORT, AUTOMATICA', 'TORREBLANCA, AJUNTAMENT',
       'VINAROS, AUMAR, AUTOMATICA', 'YECLA, AUTOMATICA', 'BARX',
       'OLIVA, AJUNTAMENT, AUTOMATICA', 'POLINYA, PISCIFACT, AUTOMATICA',
       'UTIEL, LA CUBERA, AUTOMATICA', 'XATIVA, LES PERERES AUTOMATICA'],
      dtype=object)

## Subsets

In [3]:
data2018 = data[(data.Provincia.isin(['CU', 'AB','TE','V','A']))&
          (data.Fecha>'2017-12-31')& (data.Fecha<'2019-01-01')]    # dejamos fuera Castellón y Murcia, escogemos datos 2018

print('Número de estaciones con datos en 2018 = '+ str(len(data2018.CodigoEst.unique())))
print('Número de províncias con datos en 2018 = '+ str(data2018.Provincia.unique()))
print('Número de estaciones con datos en Valencia = '+ str(len(data2018.CodigoEst[data2018.Provincia=='V'].unique())))
print('Número de estaciones con datos en Alacant = '+ str(len(data2018.CodigoEst[data2018.Provincia=='A'].unique())))

Número de estaciones con datos en 2018 = 164
Número de províncias con datos en 2018 = ['A' 'V']
Número de estaciones con datos en Valencia = 108
Número de estaciones con datos en Alacant = 56

In [4]:
data2018V = data2018[data2018.Provincia=='V']  # 2018 y Valencia

In [5]:
data2018V.head()

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
6085345,8381B,2018-01-01,0.0,S,"ADEMUZ, AGRO",INMman,646722.0,4436034.0,V,3.0,NaN,NaN,NaN,NaN
6085346,8381B,2018-01-02,0.0,S,"ADEMUZ, AGRO",INMman,646722.0,4436034.0,V,3.0,NaN,NaN,NaN,NaN
6085347,8381B,2018-01-03,0.0,S,"ADEMUZ, AGRO",INMman,646722.0,4436034.0,V,3.0,NaN,NaN,NaN,NaN
6085348,8381B,2018-01-04,0.0,S,"ADEMUZ, AGRO",INMman,646722.0,4436034.0,V,3.0,NaN,NaN,NaN,NaN
6085349,8381B,2018-01-05,0.0,S,"ADEMUZ, AGRO",INMman,646722.0,4436034.0,V,3.0,NaN,NaN,NaN,NaN

In [6]:
est2018V = data2018V.drop_duplicates(['CodigoEst'])
est2018V = est2018V['CodigoEst', '']

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
6085345,8381B,2018-01-01,0.0,S,"ADEMUZ, AGRO",INMman,646722.0,4436034.0,V,3.0,NaN,NaN,NaN,NaN
6134169,8330,2018-01-01,0.0,S,ALBAL,INMman,722168.0,4364417.0,V,1.0,NaN,NaN,NaN,NaN
6155753,8302O,2018-01-01,0.0,S,"ALBERIC, SANT JORDI",INMman,709941.0,4333838.0,V,2.0,NaN,NaN,NaN,NaN
6164850,8277U,2018-01-01,0.0,S,"ALCANTARA DE XUQUER,AYUNTAMIEN",INMman,710977.0,4327479.0,V,2.0,NaN,NaN,NaN,NaN
6188639,8404A,2018-01-01,0.0,S,"ALCUBLAS, AYUNTAMIENTO",INMman,696502.0,4407661.0,V,3.0,NaN,NaN,NaN,NaN
6239640,8325A,2018-01-01,0.0,S,"ALGEMESI, COOPERATIVA",INMman,721268.0,4341247.0,V,1.0,NaN,NaN,NaN,NaN
6262188,8328E,2018-01-01,0.0,S,ALGINET,INMman,718174.0,4348874.0,V,1.0,18.8,S,11.6,S
6270260,8328F,2018-01-01,0.0,S,"ALGINET, COAGRI",INMman,719295.0,4349091.0,V,1.0,18.6,S,11.5,S
6347669,8301U,2018-01-01,0.0,S,"ALZIRA, TORRECHO",INMman,723396.0,4337388.0,V,1.0,NaN,NaN,NaN,NaN
6386346,8278E,2018-01-01,0.0,S,"ANTELLA, AGRARIA",INMman,708159.0,4328546.0,V,2.0,NaN,NaN,NaN,NaN
6412509,8278,2018-01-01,0.0,S,"ANTELLA, FONT DOLCA",INMman,709279.0,4330735.0,V,2.0,NaN,NaN,NaN,NaN
6425942,8385C,2018-01-01,0.0,S,"ARAS DE ALPUENTE, FORESTAL",INMman,660012.0,4420570.0,V,3.0,10.1,S,0.0,S
6449827,8201A,2018-01-01,0.0,S,"AYORA, CHJ",INMman,668281.0,4326974.0,V,3.0,NaN,NaN,NaN,NaN
6482645,8072,2018-01-01,0.0,S,BARX,INMman,733761.0,4322538.0,V,1.0,NaN,NaN,NaN,NaN
6482646,8072Y,2018-01-01,0.0,S,BARX,INMaut,733371.0,4321847.0,V,1.0,18.0,S,8.3,S
6490921,8294,2018-01-01,0.0,S,"BARXETA, COOPERATIVA AGRICOLA",INMman,723691.0,4322770.0,V,1.0,21.0,S,4.0,S
6503806,8411C,2018-01-01,0.0,S,"BENAGUACIL, AJUNTAMENT",INMman,707075.0,4386278.0,V,2.0,NaN,NaN,NaN,NaN
6534671,8286,2018-01-01,0.0,S,"BENIATJAR, LES PLANISSES",INMman,723810.0,4302438.0,V,2.0,NaN,NaN,NaN,NaN
6564719,8302K,2018-01-01,0.0,S,BENIMODO,INMman,713283.0,4343494.0,V,2.0,NaN,NaN,NaN,NaN
6580927,8420U,2018-01-01,0.0,S,"BETERA, BASE HELICOPTERS",INMman,717032.0,4389576.0,V,1.0,17.4,S,1.9,S
6607573,8270U,2018-02-01,12.5,S,BICORP,INMman,690474.0,4333958.0,V,3.0,NaN,NaN,NaN,NaN
6634104,8282,2018-01-01,0.0,S,BOCAIRENT,INMman,706776.0,4294016.0,V,2.0,NaN,NaN,NaN,NaN
6656125,8276O,2018-01-01,0.0,S,BOLBAITE,INMman,700772.0,4325885.0,V,2.0,NaN,NaN,NaN,NaN
6685031,8402,2018-01-01,0.0,S,BUGARRA,INMman,691476.0,4385813.0,V,2.0,NaN,NaN,NaN,NaN
6710331,8310B,2018-01-01,0.0,S,"CAMPORROBLES, COOPERATIVA",INMman,637116.0,4390053.0,V,3.0,NaN,NaN,NaN,NaN
6734429,8301B,2018-01-01,0.0,S,CARCAIXENT,INMman,720596.0,4334408.0,V,1.0,NaN,NaN,NaN,NaN
6758510,8300E,2018-01-01,0.0,S,"CARCAIXENT, SEA",INMman,720809.0,4331977.0,V,1.0,NaN,NaN,NaN,NaN
6786324,8287,2018-01-01,0.0,S,CARRICOLA,INMman,719626.0,4301025.0,V,2.0,NaN,NaN,NaN,NaN
6819541,8405A,2018-01-01,0.0,S,"CASINOS, CHJ",INMman,696504.0,4397356.0,V,2.0,NaN,NaN,NaN,NaN
6836781,8332E,2018-01-01,0.0,S,"CATARROJA, AJUNTAMENT",INMman,723757.0,4364123.0,V,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7974822,8314A,2018-01-01,0.0,S,"REQUENA, LA PORTERA COOP.",INMman,663000.0,4366291.0,V,3.0,NaN,NaN,NaN,NaN
7986060,8316I,2018-01-01,0.0,S,"REQUENA, REBOLLAR",INMman,669190.0,4371442.0,V,3.0,NaN,NaN,NaN,NaN
8034040,8269,2018-01-01,0.0,S,"SALTO DE MILLARES, CENTRAL",INMman,696836.0,4343742.0,V,2.0,NaN,NaN,NaN,NaN
8039430,8412F,2018-01-01,0.0,S,SANT ANTONI DE BENAGEBER,INMman,714220.0,4382553.0,V,1.0,17.0,S,9.0,S
8061334,8419A,2018-01-01,0.0,S,"SERRA, AJUNTAMENT",INMman,720423.0,4396153.0,V,1.0,NaN,NaN,NaN,NaN
8073634,8382E,2018-01-01,0.0,S,SESGA,INMman,654148.0,4432171.0,V,3.0,NaN,NaN,NaN,NaN
8095777,8331,2018-01-01,0.0,S,SILLA,INMman,723590.0,4360754.0,V,1.0,NaN,NaN,NaN,NaN
8108120,8331B,2018-01-01,0.0,S,"SILLA, EL SALADAR",INMman,725026.0,4360796.0,V,1.0,NaN,NaN,NaN,NaN
8120950,8331I,2018-01-01,0.0,S,"SILLA, FITOSANITARIA",INMman,723537.0,4362604.0,V,1.0,NaN,NaN,NaN,NaN
8179374,8306A,2018-01-01,0.0,S,"SINARCAS, COOPERATIVA",INMman,651900.0,4399614.0,V,3.0,NaN,NaN,NaN,NaN
8188007,8328L,2018-01-01,0.0,S,"SOLLANA, AJUNTAMENT",INMman,726012.0,4350764.0,V,1.0,NaN,NaN,NaN,NaN
8215929,8326,2018-01-01,0.0,S,SUECA,INMman,733166.0,4342519.0,V,1.0,20.0,S,12.0,S
8235614,8274U,2018-01-01,0.0,S,SUMACARCER,INMman,705699.0,4330641.0,V,2.0,20.0,S,8.5,S
8248670,8077,2018-01-01,0.0,S,TAVERNES DE LA VALLDIGNA,INMman,736192.0,4328166.0,V,1.0,NaN,NaN,NaN,NaN
8277487,8202,2018-01-01,0.0,S,TERESA DE COFRENTES,INMman,668943.0,4329764.0,V,3.0,NaN,NaN,NaN,NaN
8306648,8337,2018-01-01,0.0,S,"TORIS, MASIA CALABARRA",INMman,704944.0,4363943.0,V,2.0,NaN,NaN,NaN,NaN
8332687,8341,2018-01-01,0.0,S,TORRENT,INMman,718737.0,4367220.0,V,1.0,NaN,NaN,NaN,NaN
8340130,8341A,2018-01-01,0.0,S,"TORRENT, MONTESION",INMman,718268.0,4368564.0,V,1.0,NaN,NaN,NaN,NaN
8372657,8394,2018-01-01,0.0,S,TUEJAR,INMman,668735.0,4404162.0,V,3.0,NaN,NaN,NaN,NaN
8381797,8394A,2018-01-01,0.0,S,"TUEJAR, PISCIFACTORIA",INMman,668060.0,4405658.0,V,3.0,15.5,S,3.0,S
8408178,8311,2018-01-01,0.0,S,UTIEL,INMman,654619.0,4381655.0,V,3.0,NaN,NaN,NaN,NaN
8417540,8311I,2018-01-01,0.0,S,"UTIEL, CHJ",INMman,654077.0,4381305.0,V,3.0,NaN,NaN,NaN,NaN
8428246,8309X,2018-01-01,0.0,S,"UTIEL, LA CUBERA, AUTOMATICA",INMaut,650424.0,4382497.0,V,3.0,10.7,S,2.7,S
8537408,8416,2018-01-01,0.0,S,"VALENCIA, VIVERS",INMman,725259.0,4373394.0,V,1.0,18.0,S,10.5,S
8545837,8290O,2018-01-01,0.0,S,"VALLADA, BOQUELLA",INMman,697389.0,4307289.0,V,3.0,NaN,NaN,NaN,NaN
8586072,8297A,2018-01-01,0.0,S,"VILA-NOVA DE CASTELLO, AJUNTAM",INMman,715858.0,4328445.0,V,2.0,NaN,NaN,NaN,NaN
8614247,8406A,2018-01-01,0.0,S,"VILLAR DEL ARZOBISPO, GRANJA E",INMman,688107.0,4399613.0,V,2.0,14.0,S,9.0,S
8637427,8296,2018-01-01,0.0,S,"XATIVA, EL REALENGO",INMman,723129.0,4326488.0,V,2.0,NaN,NaN,NaN,NaN
8651611,8293X,2018-01-01,0.0,S,"XATIVA, LES PERERES AUTOMATICA",INMaut,715638.0,4318873.0,V,2.0,19.5,S,8.2,S
8661378,8073,2018-01-01,0.0,S,XERESA,INMman,740848.0,4321455.0,V,1.0,NaN,NaN,NaN,NaN

In [7]:
data.head()

,CodigoEst,Fecha,Precipitacion,ValidPP,Estacion,Tipo,Xutm,Yutm,Provincia,Umbral_20_40_km_costa,Tmaxima,ValidTmax,Tminima,ValidTmin
0,8021A,1975-05-01,0.0,S,"AGOST, ESCOLA",INMman,705962.0,4257098.0,A,1.0,NaN,NaN,NaN,NaN
1,8021A,1975-05-02,0.0,S,"AGOST, ESCOLA",INMman,705962.0,4257098.0,A,1.0,NaN,NaN,NaN,NaN
2,8021A,1975-05-03,0.0,S,"AGOST, ESCOLA",INMman,705962.0,4257098.0,A,1.0,NaN,NaN,NaN,NaN
3,8021A,1975-05-04,2.8,S,"AGOST, ESCOLA",INMman,705962.0,4257098.0,A,1.0,NaN,NaN,NaN,NaN
4,8021A,1975-05-05,15.9,S,"AGOST, ESCOLA",INMman,705962.0,4257098.0,A,1.0,NaN,NaN,NaN,NaN

## pl